# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SorteoBattleRoyale.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\VideoJuegos\03_SorteoBattleRoyale\SorteoBattleRoyale\.idea\.idea.SorteoBattleRoyale\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
